<!DOCTYPE html>
<html>
<head>
  <title>Cenit Token</title>
  <%= stylesheet_link_tag 'token/application', media: "all" %>
  <%= javascript_include_tag 'token/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
